@model List<SelectListItem>


    <label class="form-label">Alt Kategori Seçiniz</label>
    <select class="form-control" id="child" name="child">
        @foreach (var item in Model)
{
        <option value="@item.Value">@item.Text</option>
}
    </select>

<script>
    $(document).ready(function () {
       
        $("#child").change(function () {
            console.log($(this).val());
            var child = $(this).val();
            $("#propertyPartial").load("/Product/CategoryPropertyPartial/" + child);
        });
    });
</script>



