@model List<SelectListItem>

@foreach (var item in Model)
{
    <div class="mb-3" id="propertyPartial">

    <label>@item.Text</label>
    <input type="text" class="form-control input-property-@item.Value">
    </div>
}
