@model List<SelectListItem>


    <label class="form-label">Alt Kategori Seçiniz</label>
    <select class="form-control" id="child" name="child">
        @foreach (var item in Model)
{
        <option value="">@item.Text</option>
}
    </select>



