@model List<ProductProperty>
@{
    ViewData["Title"] = "AddCategoryProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewContext.RouteData.Values["id"];
}




@section HeaderCss{
    <!-- select2 css -->
    <link href="~/admin/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="~/admin/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
}
@section FooterJs{
    <!-- select 2 plugin -->
    <script src="~/admin/assets/libs/select2/js/select2.min.js"></script>

    <!-- dropzone plugin -->
    <script src="~/admin/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- init js -->
    <script src="~/admin/assets/js/pages/ecommerce-select2.init.js"></script>
}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->

        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bilgi</h4>
                        <p class="card-title-desc">Gerekli bütün yerleri doldurunuz.</p>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="mb-3">

                                        @foreach (var item in Model)
                                        {
                                            <div class="mb-3" id="propertyPartial">

                                                <label>@item.PropertyName</label>
                                                <input type="text" class="form-control input-property" id="@item.Id" value="@item.Value">
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-2">
                                <button type="button" onclick="SaveProductProperties()" class="btn btn-primary waves-effect waves-light">Değişiklikleri Kaydet</button>
                                <a asp-action="Index" class="btn btn-secondary waves-effect waves-light">Geri Dön</a>

                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<script src="~/admin/assets/libs/jquery/jquery.min.js"></script>

@*<script>
    function SaveProductProperties() {
        var list = new Array();
        list.push({ id: 1, value: "8 GB" });
        //$(".input-property")
        console.log(list);
    }
</script>
*@
<script>

    function SaveProductProperties() {

        var list = new Array();
        $('.input-property').each(function () {
            list.push({ id: $(this).attr('id'), value: $(this).val(), productId: @id });
        });

        console.log(list); // Bu kısmı kendi ihtiyaçlarınıza göre düzenleyebilirsiniz.

        $.ajax({
            url: '/Product/SaveProductProperties',
            method: 'POST',
            data: { model: list },
            success: function (response) {
                window.location.href = '/Product/Index';
            },
            error: function (xhr, textStatus, error) {
                // Handle error response here
            }
        });
    };

 


</script>

