@using ETicaretApp_EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderCss{
    <!-- select2 css -->
    <link href="~/admin/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="~/admin/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
}
@section FooterJs{
    <!-- select 2 plugin -->
    <script src="~/admin/assets/libs/select2/js/select2.min.js"></script>

    <!-- dropzone plugin -->
    <script src="~/admin/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- init js -->
    <script src="~/admin/assets/js/pages/ecommerce-select2.init.js"></script>
}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Ürün Ekleme Ekranı</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Ürün Ekle</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Bilgi</h4>
                            <p class="card-title-desc">Gerekli bütün yerleri doldurunuz.</p>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="mb-3">
                                            <label class="form-label">Kategori Seçiniz</label>
                                            @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues,new{@class="form-control",id="parentCategory"})
                                        </div>

                                        @*     <div class="mb-3">
                                        <label class="form-label">Alt Kategori Seçiniz</label>
                                        @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues,new{@class="form-control"})
                                        </div>*@

                                        <div class="mb-3" id="denemePartial">
                                        </div>

                                        

                                        <div class="mb-3">
                                            <label asp-for="Name">Product Name</label>
                                            <input asp-for="Name" type="text" class="form-control">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>


                                        <div class="mb-3">
                                            <label asp-for="ImageUrl">Image URL</label>
                                            <input type="file" name="file" multiple="false" class="form-control">
                                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                        </div>


                                        <div class="mb-3">
                                            <label asp-for="Description">Ürün Açıklaması</label>
                                            <input asp-for="Description" type="text" class="form-control">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="Price">Price</label>
                                            <input asp-for="Price" type="text" class="form-control">
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap gap-2">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Değişiklikleri Kaydet</button>
                                    <a asp-action="Index" class="btn btn-secondary waves-effect waves-light">Geri Dön</a>

                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <script src="~/admin/assets/libs/jquery/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#parentCategory").change(function () {
                var parentId = $(this).val();
                $("#denemePartial").load("/Product/CategoryPartial/" + parentId);
            });
        });
    </script>

