@model ETicaretApp_EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderCss{
    <!-- select2 css -->
    <link href="~/admin/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="~/admin/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
}
@section FooterJs{
    <!-- select 2 plugin -->
    <script src="~/admin/assets/libs/select2/js/select2.min.js"></script>

    <!-- dropzone plugin -->
    <script src="~/admin/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- init js -->
    <script src="~/admin/assets/js/pages/ecommerce-select2.init.js"></script>
}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->



<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <h1>Kategori Sil</h1>

                    <h3>Bu kategoriyi silmek istediğinize emin misiniz?</h3>
                    <div>                        
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CategoryName)
                            </dd>                     
                        </dl>

                        <form asp-action="DeleteCategory">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-secondary waves-effect waves-light">Geri Dön</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

